<h1>All Expense Items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Expense</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= @categories[item.category_id-1].name %></td>
    <td><%= item.expense %></td>
    <td><%= item.created_at %></td>
    <td><%= item.updated_at %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

    <tr>
    <td><b>Summary</b></td>
    <th></th>
    <td><b><%= @summary %></b></td>
  </tr>

</table>

<br />

<%= link_to 'New Item', new_item_path %>

<br />
<br />

<a href="index">HOME