<!DOCTYPE html>

<html>
<head>
  <title>Personal Expense | Category</title>

</head>

<body>
<h1>Listing Expense in Category</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Total Expense</th>
    <th>Created</th>
    <th>Updated</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <th></th>
    <td><%= category.total %></td>
    <td><%= category.created_at %></td>
    <td><%= category.updated_at %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

  <tr>
    <td><b>Summary</b></td>
    <th></th>
    <td><b><%= @summary %></b></td>
  </tr>

</table>

<br />

<%= link_to 'New Category', new_category_path %>
</body>
</html>